#repos {
    .mdl-grid {
        padding-left: 0;
        padding-right: 0;
    }
    .mdl-card {
        border: 1px solid $color-grey-light;
    }
    .mdl-card:hover {
        border: 1px solid lighten($color-grey-600, 10%);
        cursor: pointer;
        box-shadow: 0 1px 4px lighten($color-grey-medium-light, 10%);
        z-index: 50;
        transition: all 150ms ease-in-out;
    }
    // SEARCH BAR
    .md-autocomplete {
        border-radius: 2px;
        display: block;
        height: $search-bar-height;
        position: relative;
        overflow: visible;
        min-width: 190px;
        width: 100%;
        margin: 10px;
        background: white;
        .md-autocomplete-wrap {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            flex-direction: row;
            box-sizing: border-box;
            position: relative;
            overflow: visible;
            height: $search-bar-height;
        }
        .md-autocomplete-wrap {
            input,
            md-input-container {
                -webkit-box-flex: 1;
                -webkit-flex: 1 1 0%;
                flex: 1 1 0%;
                box-sizing: border-box;
                min-width: 0px;
            }
        }
        input:not(.md-input) {
            font-size: 14px;
            box-sizing: border-box;
            border: none;
            box-shadow: none;
            outline: none;
            background: transparent;
            width: 100%;
            padding: 0 15px;
            line-height: $search-bar-height;
            height: $search-bar-height;
        }
        .material-icons {
            line-height: $search-bar-height;
            padding-right: 5px;
        }
        button {
            height: $search-bar-height;
            min-width: $search-bar-height;
            padding: 0;
            .material-icons {
                line-height: 35px;
            }
        }
    }
    md-content {
        display: block;
        position: relative;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        color: rgba(0, 0, 0, 0.87);
        background-color: rgb(250, 250, 250);
    }
    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }
    .repo-card {
        //*************************************/
        // CARDS
        //*************************************/
        .mdl-card__media {
            padding: 16px 16px 10px;
            background-color: white;
            min-height: 50px;
            .framework-list {
                display: inline;
                float: left;
            }
            .framework {
                height: 30px;
                padding-right: 5px;
            }
        }
        .mdl-card__media.mdl-typography--text-right {
            padding-top: 0;
        }
        .mdl-list {
            margin: 0;
            padding: 0;
        }
        .mdl-list__item-avatar {
            border-radius: 0;
            background-color: white;
        }
        .mdl-card__title-text {
            font-size: 20px;
            word-break: break-all;
        }
        .mdl-card__supporting-text {
            height: 150px;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .mdl-card__subtitle-text {
            padding-left: 16px;
            margin: 0;
        }
        .mdl-card__actions {
            font-size: 16px;
            line-height: normal;
            width: 100%;
            background-color: rgb(247, 247, 247);
            padding: 0;
            box-sizing: border-box;
        }
        .metrics-list li {
            font-size: 13px;
        }
        .mdl-list__item-icon.material-icons {
            height: 16px;
            width: 16px;
            font-size: 16px;
            box-sizing: border-box;
            color: $color-grey-600;
        }
        .metrics-list {
            display: flex;
            margin: 0;
            padding: 0;
            li {
                display: inline-flex;
                flex-direction: column;
                padding: 0;
                width: 33%;
                overflow: visible;
                .mdl-list__item-primary-content {
                    outline: none;
                }
                .mdl-list__item-primary-content .mdl-list__item-icon {
                    margin-right: 5px;
                }
            }
        }
    }
    a.repo-link {
        text-decoration: none;
    }
    .language {
        display: inline-block;
    }
    .language-bar {
        display: table;
        width: 100.5%;
    }
    .repo-language-stats {
        display: table;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid #ddd;
        border-top: 0;
        line-height: 14px;
        .language-info {
            display: table-cell;
            line-height: 8px;
            text-indent: -9999px;
            background-color: #ccc;
            width: 0%;
        }
    }
}

.mdl-card__media {
    .stats-switcher-viewport {
        height: 41px;
        overflow: hidden;
    }
    .stats-switcher-viewport .stats-switcher-wrapper {
        position: relative;
        -webkit-transition: top 0.25s ease-in-out;
        transition: top 0.25s ease-in-out;
        top: -41px;
    }
    .stats-switcher-viewport .stats-switcher-wrapper.show-languages {
        top: 0;
    }
    .overall-summary {
        position: relative;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .overall-summary-bottomless {
        margin-bottom: 0px;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }
    .container {
        width: 980px;
        margin-right: auto;
        margin-left: auto;
    }
    .container::before {
        display: table;
        content: "";
    }
    .container::after {
        display: table;
        clear: both;
        content: "";
    }
    ul,
    ol,
    .numbers-summary {
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .numbers-summary {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .repository-lang-stats {
        position: relative;
    }
    .repository-lang-stats ol.repository-lang-stats-numbers li {
        display: table-cell;
        width: 1%;
        padding: 10px 5px;
        text-align: center;
        white-space: nowrap;
        border-bottom: 0;
    }
    a {
        background-color: transparent;
        text-decoration: none;
        -webkit-text-decoration-skip: objects;
    }
    .repository-lang-stats ol.repository-lang-stats-numbers li>a,
    .repository-lang-stats ol.repository-lang-stats-numbers li>span {
        font-weight: bold;
        color: #999;
        text-decoration: none;
        font-size: 11px;
    }
    .repository-lang-stats ol.repository-lang-stats-numbers li .language-color {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .repository-lang-stats ol.repository-lang-stats-numbers li .lang {
        color: #333;
    }
    .repository-lang-stats ol.repository-lang-stats-numbers li span.percent {
        float: none;
    }
    .numbers-summary li {
        display: table-cell;
        padding: 0;
        text-align: center;
        white-space: nowrap;
    }
    .numbers-summary a,
    .numbers-summary .nolink {
        display: block;
        padding: 10px 0;
        color: #767676;
        text-decoration: none;
    }
}

.grad1 {
    @include gradient(#322e5c, #234c8d);
}

.grad2 {
    @include gradient(#04423c, #078f82);
}

.grad3 {
    @include gradient(#04423c, #078f82);
}

.tooltip,
.tooltip-other {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text,
.tooltip-other .tooltip-multi-text {
    visibility: hidden;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    z-index: 999;
    background: rgba(97, 97, 97, .9);
    background-color: #333;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    max-width: 170px;
    min-width: 80px;
    width: auto;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    top: -10px;
    left: -50%;
    &.tooltip-icon {
        top: 12.5px;
        left: 100%;
    }
}

.tooltip-other .tooltip-multi-text {
    position: fixed !important;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    -webkit-animation: pulse 200ms cubic-bezier(0, 0, .2, 1)forwards;
    animation: pulse 200ms cubic-bezier(0, 0, .2, 1)forwards;
}