<!DOCTYPE html>
<html lang="en" ng-app="showcase">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Zain Zafar">
    <title>Aurora Showcase</title>
    <style>
        .no-js #loader {
            display: none;
        }
        
        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }
        
        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(assets/img/loader/loader.gif) center no-repeat #fff;
        }
    </style>
    <!--FONTS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-indigo.min.css" />
    <link href="dist/assets/css/styles.min.css" rel="stylesheet">
    <!--JS-->
    <script src="assets/libs/angular/angular.min.js"></script>
</head>

<body ng-controller="homeController">
    <!-- Paste this code after body tag -->
    <div class="se-pre-con"></div>
    <div class="header-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
        <!--APP-NAVBAR -->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <img class="showcase-logo" src="assets/img/logo-white.png" alt="Aurora Solutions Logo" width="30">
                <span class="mdl-typography--headline title-light">AURORA SOLUTIONS <small>OPEN SOURCE</small></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation mdl-cell--hide-tablet mdl-cell--hide-phone">
                    <a class="mdl-navigation__link page-scroll" href="#repos">Repositories</a>
                    <a class="mdl-navigation__link page-scroll" href="#organizations">Organizations</a>
                </nav>
            </div>
        </header>
        <div class="header-ribbon"></div>
        <main class="header-main mdl-layout__content">
            <div class="page-content">
                <div class="header-container mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                    <div class="mdl-cell mdl-cell--10-col">
                        <!--HOME BANNER-->
                        <div class="header-content mdl-color--white mdl-shadow--1dp content mdl-typography--text-center mdl-color-text--grey-800">
                            <p>Open Source Software brings great benefit for others to learn, to build upon, to make it better, to use it in ways previously not thought of, <b>to continue
                                the wave of software driven progress</b> for clients and customers. It is with the same spirit that <b>we at Aurora Solutions
                                contribute to the Open Source world</b> with our own software. It is greatly important to us to become valuable members of the global software community, <b>and give back
                                as much as we can</b>.
                            </p>
                        </div>
                        <!--REPOS-->
                        <div id="repos">
                            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast"> Repositories</div>
                            <!--<p class="mdl-typography--font-light">
                                All of our open source repositories that our developers have worked on and are ready to be shared with rest of community
                            </p>-->
                            <!--<div class="mdl-grid" *ngIf="repos">-->
                            <div class="mdl-grid">
                                <div class="md-autocomplete">
                                    <div class="mdl-shadow--2dp md-autocomplete-wrap">
                                        <i class="material-icons" style="padding: 0 10px;color: #888;">search</i>
                                        <input type="search" placeholder="Search repositories..." ng-model="query">
                                        <!-- Right aligned menu below button -->
                                        <button id="menu-lower-right" class="mdl-button mdl-js-button">
											<i class="material-icons">sort</i>
										</button>
                                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="menu-lower-right">
                                            <li class="mdl-menu__item" ng-click="sortOrder='owner.login'" ng-disabled="sortOrder=='owner.login'">Organization</li>
                                            <li class="mdl-menu__item" ng-click="sortOrder='name'" ng-disabled="sortOrder=='name'">Name</li>
                                            <li class="mdl-menu__item" ng-click="sortOrder='-stargazers_count'" ng-disabled="sortOrder=='-stargazers_count'">Popularity</li>
                                            <li class="mdl-menu__item" ng-click="sortOrder='-size'" ng-disabled="sortOrder=='-size'">Size</li>
                                        </ul>
                                    </div>
                                    <!-- Loading Bar -->
                                    <div ng-if="loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate mdl-cell--12-col"></div>
                                </div>
                                <div ng-init="showLang=true" ng-repeat="repo in repos | filter:query | orderBy: sortOrder track by $index" class="mdl-card mdl-cell--middle mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone ">
                                    <!--CARD-->
                                    <div class="repo-card">
                                        <ul class="mdl-list">
                                            <li class="mdl-list__item mdl-list__item--two-line" style="position:absolute;width:100%;filter:blur(2px);-webkit-filter:blur(2px); opacity: 0.1;z-index:-1; background: url('{{repo.owner.avatar_url || 'assets/img/github.png'}}') center / cover">
                                            </li>
                                            <li class="mdl-list__item mdl-list__item--two-line grad" ng-class="{'grad1':true}">
                                                <div class="mdl-list__item-primary-content">
                                                    <a href="{{repo.html_url}}" target="_blank" class="repo-link mdl-card__title-text mdl-color-text--grey-100">{{repo.name }}</a>
                                                    <span class="mdl-list__item-sub-title mdl-color-text--grey-100" ng-repeat="org in orgs|filter:login=repo.owner.login">{{org.name}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="mdl-card__supporting-text">
                                            <p> {{repo.description}}</p>
                                        </div>
                                        <div class="mdl-card__media">
                                            <div class="stats-switcher-viewport">
                                                <div class="stats-switcher-wrapper" ng-class="{'show-languages':showLang}">
                                                    <div class="numbers-summary">
                                                        <div class="commits" ng-repeat="framework in repo.frameworks | limitTo : 5 track by $index">
                                                            <a class="framework-list tooltip">
                                                                <img class="framework" ng-src="assets/img/languages/{{framework}}.png" alt="{{framework}}">
                                                                <div class="tooltip-text tooltip-icon">
                                                                    {{framework}}
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="commits">
                                                            <a class="framework-list tooltip" ng-if="repo.otherframeworks.length>0">
                                                                <img class="framework" ng-src="assets/img/languages/more.png" alt="{{repo.otherframeworks}">
                                                                <div class="tooltip-text tooltip-icon">
                                                                    <span ng-repeat="otherFramework in repo.otherframeworks">{{otherFramework}} <br></span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="repository-lang-stats">
                                                        <ol class="repository-lang-stats-numbers">
                                                            <li ng-repeat="lang in repo.languages | limitTo : 3">
                                                                <a>
                                                                    <span class="color-block language-color" style="background-color:{{lang.color}}"></span>
                                                                    <span class="lang">{{lang.name}}</span>
                                                                    <span class="percent">{{lang.stats+'%'}}</span>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="language-bar" ng-click="showLang=!showLang">
                                            <div class="repo-language-stats">
                                                <span class="language-info" ng-repeat="lang in repo.languages" style="width:{{lang.stats+'%'}};background-color:{{lang.color}}">&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="mdl-card__actions">
                                            <ul class="metrics-list mdl-list">
                                                <li class="mdl-list__item">
                                                    <span class="mdl-list__item-primary-content tooltip">
														<i class="material-icons  mdl-list__item-icon">remove_red_eye</i>
														{{repo.watchers_count}}
                                                        <!-- Watchers Tooltip -->
                                                        <div class="tooltip-text">
                                                             {{repo.watchers_count}} Watchers
                                                        </div>
													</span>
                                                </li>
                                                <li class="mdl-list__item">
                                                    <span class="mdl-list__item-primary-content tooltip">
														<i class="material-icons mdl-list__item-icon" >star</i>
														{{repo.stargazers_count}}
                                                        <!-- Stars Tooltip -->
                                                         <div class="tooltip-text">
                                                             {{repo.stargazers_count}} Stars
                                                        </div>
													</span>
                                                </li>
                                                <li class="mdl-list__item">
                                                    <span class="mdl-list__item-primary-content tooltip">
														<i class="material-icons mdl-list__item-icon">call_split</i>
														{{repo.forks_count}}
                                                        <!-- Forks Tooltip -->
                                                        <div class="tooltip-text">
                                                            {{repo.forks_count}} Forks
                                                        </div>
													</span>
                                                </li>
                                            </ul>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                                </repos>
                            </div>
                            <!--ORGANIZATIONS-->
                            <div class="organizations" id="organizations">
                                <div class=" organization-container">
                                    <div class="mdl-cell mdl-cell--12-col ">
                                        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast "> Our Organizations</div>
                                        <div class="mdl-grid ">
                                            <div ng-repeat="org in orgs" class="mdl-card mdl-cell--middle mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp ">
                                                <div class="logo mdl-card__media ">
                                                    <img class="image " alt="{{org.name}}" ng-src="{{org.avatar_url || 'assets/img/github.png'}}">
                                                </div>
                                                <div class="mdl-color-text--grey-800 ">
                                                    <div class="mdl-card__title ">
                                                        <h1 class="mdl-card__title-text ">{{org.name}}</h1>
                                                    </div>
                                                    <div class="mdl-card__supporting-text ">
                                                        <p>
                                                            {{org.bio}}
                                                        </p>
                                                        <small>
														<a href="{{org.html_url}}" target="_blank " class="mdl-color-text--grey-600 ">{{org.html_url}}</a>
												    </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FOOTER-->
                    <footer class="docs-text-styling docs-footer mdl-mini-footer mdl-color--grey-900">
                        <ul class="docs-link-list">
                            <li><a class="mdl-color-text--grey-300" href="http://www.aurorasolutions.io/">AURORA SOLUTIONS</a></li>
                        </ul>
                    </footer>
        </main>
        </div>
        <!--SCRIPTS-->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/jquery/jquery.easing.min.js"></script>
        <script src="assets/libs/jquery/jquery.smooth-scroll.js"></script>
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
        <script src="assets/js/events.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/utils.js"></script>
</body>

</html>